@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Product List with Github Actions</h1>
    @if(Model.IsBeta)
    {
        <h2 class="display-4">Beta Version</h2>
    }
    <table class= "table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>ProductName</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model.Products){
                <tr>
                    <td>@product.Id</td>
                    <td>@product.ProductName</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>